In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
dates = [datetime(2011,1,2),datetime(2011,1,5),
        datetime(2011,1,7), datetime(2011,1,8),
         datetime(2011,1,10), datetime(2011,1,12)
        ]

In [3]:
ts = pd.Series(np.random.randn(6),index=dates)
ts

2011-01-02    0.601376
2011-01-05    0.002079
2011-01-07    0.871344
2011-01-08    0.412043
2011-01-10   -1.799326
2011-01-12    1.861718
dtype: float64

In [4]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [5]:
ts[::2]

2011-01-02    0.601376
2011-01-07    0.871344
2011-01-10   -1.799326
dtype: float64

In [7]:
ts.index.dtype

dtype('<M8[ns]')

In [12]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [13]:
ts

2011-01-02    0.601376
2011-01-05    0.002079
2011-01-07    0.871344
2011-01-08    0.412043
2011-01-10   -1.799326
2011-01-12    1.861718
dtype: float64

In [14]:
stamp = ts.index[2]

In [15]:
ts[stamp]

0.8713443179107613

In [16]:
ts['1/10/2011']

-1.7993256964901918

In [17]:
ts['20110110']

-1.7993256964901918

In [19]:
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))

In [20]:
longer_ts

2000-01-01   -1.623092
2000-01-02   -0.616753
2000-01-03   -0.789062
2000-01-04    0.588212
2000-01-05    0.411792
2000-01-06   -2.049770
2000-01-07    2.103172
2000-01-08   -0.739285
2000-01-09   -0.228836
2000-01-10    0.689183
2000-01-11    1.014801
2000-01-12   -2.408041
2000-01-13   -0.786725
2000-01-14   -0.046758
2000-01-15   -0.799174
2000-01-16    2.276103
2000-01-17   -0.274246
2000-01-18    0.832651
2000-01-19   -0.831032
2000-01-20    0.101991
2000-01-21   -1.172583
2000-01-22    1.777345
2000-01-23   -0.100794
2000-01-24   -0.209893
2000-01-25    1.056811
2000-01-26    2.092482
2000-01-27   -1.254726
2000-01-28    0.071332
2000-01-29   -0.246939
2000-01-30    1.006845
                ...
2002-08-28    0.626573
2002-08-29    0.723296
2002-08-30   -0.902485
2002-08-31   -0.484905
2002-09-01   -2.331405
2002-09-02    1.315661
2002-09-03    0.437416
2002-09-04   -0.557339
2002-09-05    1.180243
2002-09-06    0.526343
2002-09-07    0.475038
2002-09-08   -0.358141
2002-09-09    0.874080
2002-09-10    0.738102
2002-09-11   -0.465028
2002-09-12   -0.863759
2002-09-13   -0.630525
2002-09-14    0.856737
2002-09-15   -0.156896
2002-09-16   -1.259210
2002-09-17   -0.452722
2002-09-18    0.789811
2002-09-19    1.768051
2002-09-20   -2.005562
2002-09-21    0.275755
2002-09-22    1.198227
2002-09-23   -0.958515
2002-09-24   -1.079548
2002-09-25   -0.502232
2002-09-26    0.625302
Freq: D, Length: 1000, dtype: float64

In [21]:
longer_ts['2001']

2001-01-01   -1.954065
2001-01-02    0.507618
2001-01-03    2.357738
2001-01-04   -0.935753
2001-01-05    0.162135
2001-01-06   -0.970078
2001-01-07   -0.522757
2001-01-08   -1.342743
2001-01-09   -0.777736
2001-01-10    1.274214
2001-01-11    0.659122
2001-01-12   -1.703159
2001-01-13   -0.101920
2001-01-14   -0.725515
2001-01-15   -0.859196
2001-01-16    0.882619
2001-01-17    1.088667
2001-01-18    0.255946
2001-01-19   -1.083135
2001-01-20    0.949920
2001-01-21    0.286671
2001-01-22   -0.750522
2001-01-23    0.378606
2001-01-24   -1.345260
2001-01-25    0.469542
2001-01-26   -0.868631
2001-01-27   -1.034157
2001-01-28    0.923458
2001-01-29    2.055169
2001-01-30   -0.180402
                ...
2001-12-02   -1.073287
2001-12-03   -1.143236
2001-12-04    1.062075
2001-12-05   -0.755672
2001-12-06   -1.116754
2001-12-07    0.785642
2001-12-08    2.000787
2001-12-09   -0.756922
2001-12-10    0.136668
2001-12-11    0.269547
2001-12-12   -0.488802
2001-12-13   -0.790447
2001-12-14   -0.050510
2001-12-15   -0.938668
2001-12-16   -1.960979
2001-12-17   -1.556033
2001-12-18   -0.744806
2001-12-19    0.765199
2001-12-20   -1.905163
2001-12-21    1.136484
2001-12-22    0.844236
2001-12-23    0.785015
2001-12-24    0.207304
2001-12-25    0.434269
2001-12-26   -1.115931
2001-12-27    0.272245
2001-12-28    1.824489
2001-12-29    0.081382
2001-12-30    0.488354
2001-12-31   -0.142426
Freq: D, Length: 365, dtype: float64

In [22]:
longer_ts['2001-06']

2001-06-01   -0.273496
2001-06-02    0.281594
2001-06-03   -0.977936
2001-06-04    0.972335
2001-06-05    0.080832
2001-06-06    0.651796
2001-06-07    0.830771
2001-06-08   -0.322621
2001-06-09   -2.107005
2001-06-10   -0.189998
2001-06-11   -1.468017
2001-06-12    0.239222
2001-06-13    0.643581
2001-06-14   -1.612643
2001-06-15    0.663654
2001-06-16    1.026511
2001-06-17   -1.689183
2001-06-18    0.216389
2001-06-19    1.192848
2001-06-20   -1.368060
2001-06-21   -0.033457
2001-06-22   -0.409796
2001-06-23   -0.196564
2001-06-24    0.299241
2001-06-25   -0.042274
2001-06-26   -0.336187
2001-06-27    0.479527
2001-06-28    0.350755
2001-06-29    1.145662
2001-06-30   -0.360987
Freq: D, dtype: float64

In [26]:
ts[datetime(2011,1,7)]

0.8713443179107613

In [27]:
ts

2011-01-02    0.601376
2011-01-05    0.002079
2011-01-07    0.871344
2011-01-08    0.412043
2011-01-10   -1.799326
2011-01-12    1.861718
dtype: float64

In [28]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.871344
2011-01-08    0.412043
2011-01-10   -1.799326
dtype: float64

In [29]:
ts.truncate(after='1/9/2011')

2011-01-02    0.601376
2011-01-05    0.002079
2011-01-07    0.871344
2011-01-08    0.412043
dtype: float64

In [37]:
dates = pd.date_range('1/1/2000',periods=100,freq='W-WED')

In [38]:
long_df = pd.DataFrame(np.random.randn(100,4), index=dates,columns=['Colorado','Texas','New York','Ohio']),

In [44]:
long_df.loc['5-2001']

AttributeError: 'tuple' object has no attribute 'loc'

In [1]:
import pytz

In [3]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [4]:
tz = pytz.timezone('America/New_York')

In [5]:
tz

In [6]:
import pandas as pd
import numpy as np

In [7]:
rng = pd.date_range('3/9/2012 9:30', periods = 6,freq='D')

In [8]:
ts = pd.Series(np.random.randn(len(rng)),index=rng)

In [9]:
ts

2012-03-09 09:30:00    2.033451
2012-03-10 09:30:00    0.788563
2012-03-11 09:30:00   -0.309916
2012-03-12 09:30:00    0.776805
2012-03-13 09:30:00   -0.652801
2012-03-14 09:30:00    2.541703
Freq: D, dtype: float64

In [10]:
print(ts.index.tz)

None

In [13]:
pd.date_range('3/9/2012 9:30', periods=10,freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [14]:
ts

2012-03-09 09:30:00    2.033451
2012-03-10 09:30:00    0.788563
2012-03-11 09:30:00   -0.309916
2012-03-12 09:30:00    0.776805
2012-03-13 09:30:00   -0.652801
2012-03-14 09:30:00    2.541703
Freq: D, dtype: float64

In [15]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00    2.033451
2012-03-10 09:30:00+00:00    0.788563
2012-03-11 09:30:00+00:00   -0.309916
2012-03-12 09:30:00+00:00    0.776805
2012-03-13 09:30:00+00:00   -0.652801
2012-03-14 09:30:00+00:00    2.541703
Freq: D, dtype: float64

In [16]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [17]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    2.033451
2012-03-10 04:30:00-05:00    0.788563
2012-03-11 05:30:00-04:00   -0.309916
2012-03-12 05:30:00-04:00    0.776805
2012-03-13 05:30:00-04:00   -0.652801
2012-03-14 05:30:00-04:00    2.541703
Freq: D, dtype: float64

In [19]:
ts_eastern = ts.tz_localize('America/New_York')