In [32]:
import numpy as np
import pandas as pd

In [33]:
tips = pd.read_csv('../python-data-analysis/examples/tips.csv')
tips['tip_pct'] = tips['tip']/tips['total_bill']

In [34]:
tips.head()

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

In [35]:
def top(df,n=5,column='tip_pct'):
    return df.sort_values(by=column)[-n:]

In [36]:
top(tips,n=6)

     total_bill   tip smoker  day    time  size   tip_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
232       11.61  3.39     No  Sat  Dinner     2  0.291990
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345

In [37]:
tips.groupby('smoker').apply(top)

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85     No  Thur   Lunch     2  0.236746
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       232       11.61  3.39     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [38]:
tips.groupby(['smoker','day']).apply(top,n=1,column='total_bill')

                 total_bill    tip smoker   day    time  size   tip_pct
smoker day
No     Fri  94        22.75   3.25     No   Fri  Dinner     2  0.142857
       Sat  212       48.33   9.00     No   Sat  Dinner     4  0.186220
       Sun  156       48.17   5.00     No   Sun  Dinner     6  0.103799
       Thur 142       41.19   5.00     No  Thur   Lunch     5  0.121389
Yes    Fri  95        40.17   4.73    Yes   Fri  Dinner     4  0.117750
       Sat  170       50.81  10.00    Yes   Sat  Dinner     3  0.196812
       Sun  182       45.35   3.50    Yes   Sun  Dinner     3  0.077178
       Thur 197       43.11   5.00    Yes  Thur   Lunch     4  0.115982

In [39]:
result = tips.groupby('smoker')['tip_pct'].describe()

In [40]:
result

,count,mean,std,min,25%,50%,75%,max
smoker,,,,,,,,
No,151.0,0.159328,0.039910,0.056797,0.136906,0.155625,0.185014,0.291990
Yes,93.0,0.163196,0.085119,0.035638,0.106771,0.153846,0.195059,0.710345

In [41]:
result.unstack('smoker')

       smoker
count  No        151.000000
       Yes        93.000000
mean   No          0.159328
       Yes         0.163196
std    No          0.039910
       Yes         0.085119
min    No          0.056797
       Yes         0.035638
25%    No          0.136906
       Yes         0.106771
50%    No          0.155625
       Yes         0.153846
75%    No          0.185014
       Yes         0.195059
max    No          0.291990
       Yes         0.710345
dtype: float64

In [42]:
tips.groupby('smoker',group_keys=False).apply(top)

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [43]:
frame = pd.DataFrame({'data1':np.random.randn(1000),
                     'data2':np.random.randn(1000)})
frame.head()

      data1     data2
0  0.163672 -0.566496
1  2.023810  0.920884
2  1.113368  1.796005
3  0.524507 -2.427294
4 -1.180552 -0.800072

In [44]:
quartiles = pd.cut(frame.data1,4)
quartiles[:10]

0     (-1.21, 0.611]
1     (0.611, 2.432]
2     (0.611, 2.432]
3     (-1.21, 0.611]
4     (-1.21, 0.611]
5     (-1.21, 0.611]
6     (0.611, 2.432]
7     (0.611, 2.432]
8     (-1.21, 0.611]
9    (-3.039, -1.21]
Name: data1, dtype: category
Categories (4, interval[float64]): [(-3.039, -1.21] < (-1.21, 0.611] < (0.611, 2.432] < (2.432, 4.253]]

In [50]:
def get_stats(group):
    return {'min': group.min(), 'max': group.max(),
            'count': group.count(), 'mean': group.mean()}

grouped = frame.data2.groupby(quartiles)

In [51]:
grouped.apply(get_stats).unstack()

NameError: name 'grouped' is not defined

In [52]:
grouping = pd.qcut(frame.data1,10,labels=False)

In [53]:
grouped = frame.data2.groupby(grouping)

In [54]:
grouped.apply(get_stats).unstack()

       count       max      mean       min
data1
0      100.0  2.529783  0.096618 -1.988443
1      100.0  2.061341 -0.028523 -2.508794
2      100.0  2.515220  0.119722 -2.500428
3      100.0  2.026659 -0.051029 -2.742474
4      100.0  2.796210  0.011941 -2.960377
5      100.0  2.198490  0.018705 -2.717558
6      100.0  1.880541  0.122579 -2.489281
7      100.0  2.456286  0.017750 -2.628016
8      100.0  2.746474 -0.086628 -2.412838
9      100.0  2.111866 -0.077780 -2.378805

In [56]:
s = pd.Series(np.random.randn(6))

In [57]:
s[::2] = np.nan

In [58]:
s

0         NaN
1    0.780846
2         NaN
3   -0.256654
4         NaN
5   -0.455139
dtype: float64

In [60]:
s.fillna(s.mean())

0    0.023018
1    0.780846
2    0.023018
3   -0.256654
4    0.023018
5   -0.455139
dtype: float64

In [61]:
states = ['Ohio', 'New York', 'Vermont', 'Florida',
          'Oregon', 'Nevada', 'California', 'Idaho']

In [62]:
group_key = ['East']*4 + ['west']*4

In [63]:
group_key

['East', 'East', 'East', 'East', 'west', 'west', 'west', 'west']

In [64]:
data = pd.Series(np.random.randn(8),index=states)

In [65]:
data

Ohio         -1.170375
New York      0.141249
Vermont       1.002494
Florida      -0.592446
Oregon        1.057763
Nevada        0.135672
California    1.150981
Idaho        -0.107081
dtype: float64

In [66]:
data[['Vermont','Nevada','Idaho']]=np.nan

In [67]:
data

Ohio         -1.170375
New York      0.141249
Vermont            NaN
Florida      -0.592446
Oregon        1.057763
Nevada             NaN
California    1.150981
Idaho              NaN
dtype: float64

In [68]:
data.groupby(group_key).mean()

East   -0.540524
west    1.104372
dtype: float64

In [78]:
fill_mean = lambda g:g.fillna(g.mean())

In [79]:
data.groupby(group_key).apply(fill_mean)

Ohio         -1.170375
New York      0.141249
Vermont      -0.540524
Florida      -0.592446
Oregon        1.057763
Nevada        1.104372
California    1.150981
Idaho         1.104372
dtype: float64

In [86]:
fill_values = {'East': 0.5, 'west': -1}

In [87]:
fill_func = lambda g: g.fillna(fill_values[g.name])

In [88]:
data.groupby(group_key).apply(fill_func)

Ohio         -1.170375
New York      0.141249
Vermont       0.500000
Florida      -0.592446
Oregon        1.057763
Nevada       -1.000000
California    1.150981
Idaho        -1.000000
dtype: float64

In [92]:
suits =['H','S','C','D']
card_val = (list(range(1,11))+ [10] *3 ) *4
base_names = ['A'] + list(range(2,11)) + ['J','K','Q']
cards = []
for suit in ['H', 'S', 'C', 'D']:
    cards.extend(str(num) + suit for num in base_names)
deck = pd.Series(card_val,index=cards)

In [93]:
deck[:13]

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
dtype: int64

In [94]:
def draw(deck,n=5):
    return deck.sample(n)

In [95]:
draw(deck)

7D     7
3H     3
AD     1
KS    10
QC    10
dtype: int64

In [96]:
get_suit = lambda card: card[-1]

In [97]:
deck.groupby(get_suit).apply(draw,n=2)

C  7C     7
   JC    10
D  7D     7
   8D     8
H  AH     1
   5H     5
S  6S     6
   9S     9
dtype: int64

In [98]:
deck.groupby(get_suit,group_keys=False).apply(draw,n=2)

6C     6
2C     2
3D     3
2D     2
7H     7
8H     8
9S     9
QS    10
dtype: int64

In [99]:
df = pd.DataFrame({'category': ['a', 'a', 'a', 'a',
                                'b', 'b', 'b', 'b'],
                   'data': np.random.randn(8),
                   'weights': np.random.rand(8)})
df

  category      data   weights
0        a  0.766728  0.474761
1        a -0.797172  0.083492
2        a -0.277955  0.380624
3        a -0.512745  0.203649
4        b  1.241698  0.470682
5        b  1.222657  0.260793
6        b -0.078179  0.034673
7        b  0.327881  0.612842

In [100]:
grouped = df.groupby('category')

In [104]:
 get_wavg = lambda g: np.average(g['data'],weights = g['weights'])

In [102]:
grouped.apply(get_wavg)

TypeError: average() got an unexpected keyword argument 'weghts'