In [5]:
cat ../python-data-analysis/examples/ex1.csv

SyntaxError: invalid syntax (<ipython-input-5-a7c8567f58ce>, line 1)

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('../python-data-analysis/examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
pd.read_csv('../python-data-analysis/examples/ex1.csv',header=None)

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [10]:
pd.read_csv('../python-data-analysis/examples/ex1.csv',names=['a','b','c','d','message'])

   a   b   c   d  message
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [12]:
parsed = pd.read_csv('../python-data-analysis/examples/csv_mindex.csv',index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [16]:
pd.read_csv('../python-data-analysis/examples.ex4.csv',skiprows=[0,2,3])

FileNotFoundError: File b'../python-data-analysis/examples.ex4.csv' does not exist