In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
pd.options.display.max_rows = 10

In [3]:
db = json.load(open('../python-data-analysis/datasets/usda_food/database.json'))

In [4]:
len(db)

6636

In [5]:
db[0].keys()

dict_keys(['id', 'description', 'tags', 'manufacturer', 'group', 'portions', 'nutrients'])

In [6]:
db[0]['nutrients'][0]

{'value': 25.18,
 'units': 'g',
 'description': 'Protein',
 'group': 'Composition'}

In [7]:
nutrients = pd.DataFrame(db[0]['nutrients'])
nutrients

                            description        group units    value
0                               Protein  Composition     g   25.180
1                     Total lipid (fat)  Composition     g   29.200
2           Carbohydrate, by difference  Composition     g    3.060
3                                   Ash        Other     g    3.280
4                                Energy       Energy  kcal  376.000
..                                  ...          ...   ...      ...
157                              Serine  Amino Acids     g    1.472
158                         Cholesterol        Other    mg   93.000
159        Fatty acids, total saturated        Other     g   18.584
160  Fatty acids, total monounsaturated        Other     g    8.275
161  Fatty acids, total polyunsaturated        Other     g    0.830

[162 rows x 4 columns]

In [8]:
info_keys = ['description','group','id','manufacturer']
info = pd.DataFrame(db, columns = info_keys)
info[:5]

,description,group,id,manufacturer
0,"Cheese, caraway",Dairy and Egg Products,1008,
1,"Cheese, cheddar",Dairy and Egg Products,1009,
2,"Cheese, edam",Dairy and Egg Products,1018,
3,"Cheese, feta",Dairy and Egg Products,1019,
4,"Cheese, mozzarella, part skim milk",Dairy and Egg Products,1028,

In [9]:
pd.value_counts(info.group)[:10]

Vegetables and Vegetable Products    812
Beef Products                        618
Baked Products                       496
Breakfast Cereals                    403
Legumes and Legume Products          365
Fast Foods                           365
Lamb, Veal, and Game Products        345
Sweets                               341
Pork Products                        328
Fruits and Fruit Juices              328
Name: group, dtype: int64

In [10]:
nutrients_all = pd.DataFrame()

for food in db:
    nutrients = pd.DataFrame(food['nutrients'])
    nutrients['id'] = food['id']
    nutrients_all = nutrients_all.append(nutrients,ignore_index=True)

In [11]:
nutrients_all

                               description        group units    value     id
0                                  Protein  Composition     g   25.180   1008
1                        Total lipid (fat)  Composition     g   29.200   1008
2              Carbohydrate, by difference  Composition     g    3.060   1008
3                                      Ash        Other     g    3.280   1008
4                                   Energy       Energy  kcal  376.000   1008
...                                    ...          ...   ...      ...    ...
389350                 Vitamin B-12, added     Vitamins   mcg    0.000  43546
389351                         Cholesterol        Other    mg    0.000  43546
389352        Fatty acids, total saturated        Other     g    0.072  43546
389353  Fatty acids, total monounsaturated        Other     g    0.028  43546
389354  Fatty acids, total polyunsaturated        Other     g    0.041  43546

[389355 rows x 5 columns]

In [13]:
nutrients_all.duplicated().sum()

14179